 * {
    box-sizing: border-box;
 }

body {
    background-color: rgb(42, 0, 97); 
    background: linear-gradient(#4d6f2b,#aabb6a);
    /* background: url('video/2.mp4'); */
}

html {
    font-size: 62.5%;
}

 .top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
    
}  

.flow__lily{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__rose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__calls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__cis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__alst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__lic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__chamo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center;  */
    width: 20%;
    margin: 50px;
    background-color: #fff;
    border-radius: 5%; 
    border: 4px solid rgb(219, 230, 255);
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.flow__lily:hover{
    background-image: url('icon/lily.jpg');
}

.flow__rose:hover{
    background-image: url('icon/rose.jpg');
}

.flow__calls:hover{
    background-image: url('icon/calls.png');
}

.flow__alst:hover{
    background-image: url('icon/alst.jpg');
    background-repeat: no-repeat;
}

.flow__cis:hover{
    background-image: url('icon/cinsin.png');
}

.flow__lic:hover{
    background-image: url('icon/lic.jpg');
}

.flow__chamo:hover{
    background-image: url('icon/chamo.jpg');
}

.flow__i {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flow__i:hover {
    opacity: 0;
}

.icon {
    display: flex;
    align-self: center;
    padding: 50px;
}

.icon img{
    border-radius: 50%;
    width: 300px; 
    height: 300px;
}

.header {
    text-shadow: 5px 2px 8px black;
    color: rgb(255, 185, 21);
    text-align: center;
    font-size: 50px;
}

.header__icon {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    position: relative; 
    padding: 10px;
}

.text {
    color: black;
    padding: 30px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

@media only screen and (max-width:600px) {
    .header{
        font-size: 40px;
    }
    .flow__lily{
        width: 100%;
    }
    .flow__rose{
        width: 100%;
    }
    .flow__calls{
        width: 100%;
    }
    .flow__alst{
        width: 100%;
    }
    .flow__lic{
        width: 100%;
    }
    .flow__cis{
        width: 100%;
    }
    .flow__chamo{
        width: 100%;
    }
}


@media only screen and (max-width:900px) {
    html{
        font-size: 60%;
    }
}

@media only screen and (max-width:1200px) {
    html{
        font-size: 70%;
    }
}

@media only screen and (min-width:1800px) {
    html{
        font-size: 80%;
    }
}
